<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Teams Clone</title>
    <link rel="stylesheet" href="/chatstyle.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    
    <script>
        const ROOM_ID = "<%= roomId %>";
        var uName = "<%= uname %>"; 
    </script>
</head>
<body>
   <%- include('./partials/navbar')%>
   <%- include('./partials/flash')%>
   <div class="main">
      <div class="main__left home">
         <% const zeroPad = (num, places) => String(num).padStart(places, '0') %> 
         <% if(currentUser){ %> 
            <% if(me.myMeets.length === 1){ %>
               <div class="home__main text-dark">
                  <h5>No other meetings available right now</h5>
               </div>
            <% } %>
            <% for(let i = 0; i < me.myMeets.length; i++) {%>
               <% const dateTemp = new Date(me.myMeets[i].lastMessage.sentAt); %> 
               <% var currentOffset = dateTemp.getTimezoneOffset(); %>
               <% var ISTOffset = 330;   // IST offset UTC +5:30 %> 
               <% var date = new Date(dateTemp.getTime() + (ISTOffset + currentOffset)*60000); %>
               <% if(me.myMeets[i].meetId === roomId) { %>
               
               <% } else { %>
                  <div>
                     <a href="/<%= me.myMeets[i].meetId %>/chat" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                        <div class="media">
                           <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                 <h6 class="mb-0"><%= me.myMeets[i].meetName %></h6><small class="small font-weight-bold"><%= zeroPad(date.getHours(), 2) %>:<%= zeroPad(date.getMinutes(),2) %>  <%= zeroPad(date.getDate(), 2) %>/<%= zeroPad(date.getMonth() + 1, 2) %>/<%= zeroPad(date.getFullYear(), 4) %></small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small"><b><%= me.myMeets[i].lastMessage.sentBy %></b> : 
                                 <% if(me.myMeets[i].lastMessage.message.length > 80){ %>
                                    <%= me.myMeets[i].lastMessage.message.slice(0,80) %>... 
                                 <% } else { %>
                                    <%= me.myMeets[i].lastMessage.message %>
                                 <% } %> 
                              </p>
                           </div>
                        </div>
                     </a>
                  </div>
               <% } %> 
            <% } %> 
         <% } %> 
      </div>
      <div class="main__mid bg-dark">
         <div class="main__header">
            <h5><%= msgHistory.meetName %></h5> 
         </div>
         <div class="main__chat_window">
            <ul class="messages">  
               <% var prevD = `00/00/0000` %> 
               <% for(let i = 0; i < msgHistory.messages.length; i++){ %>
                  <% const dateTemp = new Date(msgHistory.messages[i].sentAt); %> 
                  <% var currentOffset = dateTemp.getTimezoneOffset(); %>
                  <% var ISTOffset = 330;   // IST offset UTC +5:30 %> 
                  <% var msgDate = new Date(dateTemp.getTime() + (ISTOffset + currentOffset)*60000); %>
                  <% const msgT = `${zeroPad(msgDate.getHours(), 2)}:${zeroPad(msgDate.getMinutes(),2)}` %>
                  <% const msgD = `${zeroPad(msgDate.getDate(), 2)}/${zeroPad(msgDate.getMonth() + 1, 2)}/${zeroPad(msgDate.getFullYear(), 4)}` %>
                  <% if(msgD!==prevD) {%>
                  <li class="font-weight-bold" style="text-align:center;">
                     <small><%= msgD %></small>
                  </li>
                  <%} prevD = msgD; %> 
                  <li class="message d-flex align-items-center justify-content-between mb-1">
                     <small><b><%= msgHistory.messages[i].sentBy %></b></small>
                     <small class="small font-weight-bold">
                        <%= msgT %>
                     </small>
                  </li>
                  <li  class="message align-items-center  mb-1">
                     <small> <%= msgHistory.messages[i].message %></small>
                  </li>
               <% } %>  
               <li class="font-weight-bold" style="text-align:center;">
                  <small>Today</small>
               </li>  
            </ul>
         </div>
         <div class="main__message_container">
            <input id="chat_message" type="text" placeholder="Type message here...">
         </div>
      </div>
      <div class="main__right bg-dark">
         <div class="main__controls">
            <a style="text-decoration:none" href="/<%= roomId %>">
               <div class="main__controls__button ">
                  <i class="fas fa-phone success text-success"></i>
                  <span class="Join_call text-success">Join the Call</span>
               </div>
            </a>
         </div>
         <div class="participants__header">
            <h6>Participants</h6>
         </div>
         <div class="participants__list">
            <ul class="participant">
               <% for(let i = 0; i < msgHistory.usersAllowed.length; i++){ %>
                  <li>
                     <%= msgHistory.usersAllowed[i].username %> 
                  </li>
               <% } %>
            </ul>
         </div>
         <form action="/add" method="POST" class="validated-form" novalidate>
            <div class="text-light">
               Meet Id
               <input class="form-control" type="text" id="meetId" name="meetId" placeholder="Meeting Code" value="<%= msgHistory.meetId %>" readonly>
            </div>
            <br>
            <div>
               <textarea class="form-control" id="allowedUsers" name="allowedUsers" placeholder="Particpants Email Ids (Space Seperated)"></textarea>
            </div>
            <button class="btn btn-block">
               <div class="main__controls">
                  <div class="main__controls__block">
                     <div class="main__controls__button">
                        <i class="fas fa-user-plus"></i>
                        <span class="add_participants">Add Participants</span>
                     </div>
                  </div>
               </div>
            </button>
         </form>   
      </div>
   </div>
</body>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
      <script src="/chatscript.js" defer></script>
      </html>
      